<div class="container">
	<section class="timer-counter-label">
		<div>
			<span class="colorstatus" *ngIf="colorBt"><img src="/../../assets/images/red.jpg"></span>
			
			<span class="colorstatus" *ngIf="!colorBt"><img src="/../../assets/images/greennn.jpg"></span>
		</div>
		<div > {{format(timer)}} </div>
		<ng-template #elseBlock></ng-template>
	</section>
	<section class="timer-button-container">
		<button class="timer-button" (click)="startTimer()" >
  {{ startText }}
</button>
		<button class="timer-button" [disabled]="!resetBt" (click)="clearTimer()">Reset</button>
	</section>
</div>