<div id="Main-block">
  <div id="header">
    <h1>About Me</h1>
  </div>
  <hr>
  <div id="main-content">
    <h2>Basic Info</h2>	
    <div class="pgcontent">
      <p><b class="line" style="color: #ff2d00;">Name:</b><br/>S. Pavithra</p>
      <p><b class="line" style="color: #ff2d00;">Location:</b><br/>I'm working in <i>City office</i></p>
      <p><b class="line" style="color: #ff2d00;">Programming Skills:</b></p>
        <ul>
          <li>PHP</li>
          <li>MYSQL</li>
          <li>SuiteCRM</li>
          <li>SugarCRM</li>
          <li>ZohoCRM</li>
        </ul>      	
      <p><b class="line" style="color: #ff2d00;">Projects:</b> </p>
        <ul>
          <li>Sacredwalks (Yatra)</li>
          <li>FRDMS</li>
        </ul>
     
      <p>Hi, My favourite subject is <span style="color: green;">Maths</span>. I love it. I scored centom in my school days. I'm very interested to learn new things in my domain and bug fixing. My hobbies are cleaning my house and gardening work.	</p>					
    </div>

    <div id="imgcontent">			
      <img class="grab" src="/../../assets/images/image.jpeg" title="Pavithra" alt="Pavithra">	
    </div>
  </div>
  <div id="footer">
    <p><b class="line" style="color: #ff2d00;">My Social Medua Links:</b>
    <br/>
    <p class="links"><em><a href="https://www.facebook.com/" target="_blank" rel="nofollow">Facebook</a>&nbsp; </em>
    <em><a href="https://www.linkedin.com" target="_blank" rel="nofollow">LinkedIn</a>&nbsp; </em>
    <em><a href="https://twitter.com" target="_blank" rel="nofollow">Twitter</a>&nbsp; </em></p>
    <hr>									
  </div>			
</div>	
<div  class="pgcontent1">
  <p>Here some information about <strong>My Experience.</strong></p>
  <table id="datas">
    <th>S.No</th>
    <th>Project Name</th>
    <th>Project Description</th>
    <th>Technologies</th>
    <tr>
      <td>1</td>
      <td>Sacredwalks</td>
      <td>This project is used for yatra team to maintain customers data.</td>
      <td>SuiteCRM-FrontEND, DB-MYSQL, YII</td>
    </tr>
    <tr>
      <td>2</td>
      <td>FRDMS</td>
      <td>This project is used for donations.</td>
      <td>SuiteCRM-FrontEND, DB-MYSQL</td>
    </tr>	
    <tr>
      <td>3</td>
      <td>InsightCRM</td>
      <td>This project is used for bussiness level meeting.</td>
      <td>SuiteCRM-FrontEND, DB-MYSQL</td>
    </tr>		
  </table>
</div>