#imgcontent {
    float: right;
    width:20%;
}
img {
    width: 250px;
    height: 250px;
}
.pgcontent{
    float: left;
    width:80%;
}
.pgcontent1{
    float: left;
}
h1 {
    text-decoration: underline overline;
    color: #0039ff;
}
h2 {
    text-decoration: underline overline;
    color: #0039ff;
    text-align: center;
}
.line {
    text-decoration: underline;
}
p {
    font-family: verdana;
    font-size: 18px;
}
p.pgcontent1 {
    font-family: verdana;
    font-size: 25px;
}

#datas th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
}
#datas table,#datas td, #datas th {
  border-collapse:collapse;
  border: 1px solid black;
  padding: 8px;
  
}
p.links {
  white-space: nowrap;
}
#main-content {
    width:100%;
    margin-right: auto;
    margin-left: auto;
    background-color: lightblue;
}
#footer {
    float: left;
    width: 100%;
}
#Main-block{
    width: 100%;
}