<div id="content">
    <h1>Todos</h1>
    <div id="todoadd">
      <p #validation *ngIf="show" style="color:red;">Make sure todo is not empty</p>
      <input #newHero (keyup.enter)="addHero(newHero.value)">
      <button (click)="addHero(newHero.value);newHero.value=''">+</button>    
    </div>
    <div id="todoshow">    
      <table>
        <tr>
          <th>###</th>
          <th>Todo</th>
          <th>Todo Status</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let hero of heroes; index as i">
          <td>
            <input type="checkbox" [(ngModel)]="hero.marked"  (click)="toggleVisibility($event,i)"/>
          </td>        
         
          <td>
            <span *ngIf="!hero.edit" (click)="editfn(i)">{{hero.name}}</span>      
            <input  *ngIf="hero.edit"  [disabled]="hero.marked" [(ngModel)]="hero.name">
             <button *ngIf="hero.edit" [disabled]="hero.marked" (click)="save(hero.name,i);">save</button>
          </td>
          <td>
            <span *ngIf="hero.marked">Completed</span><span *ngIf="!hero.marked">Incompleted</span>
          </td>
          <td>
            <button class="remove" (click)="remove(i)">X</button>
          </td>
        </tr> 
      </table>
    </div>  
  </div>
  
  
  
   