
#content {
    padding-left: 20%;
}
h1 {
    background-color: #E5E7E9;
    width: 65%;
    margin-top: 75px;
    text-align: center;
    padding-left: 150px;
    padding: 60px;
    border-radius: 5px;
}